.Card{
  display: flex;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(238, 52, 52), rgb(196, 84, 87)) repeat scroll 0% 0%;
  margin: 2px;
}

.buttons{
  display: grid;
}

.Card  p {
  color: white;
}
